@font-face {
  font-family: myFont;
  src: url(Doctor\ Drake.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #e1e1e1;
  height: 100vh;
  position: relative;
}

/*************************header*****************/

body header {
  width: 100%;
  height: 10rem;
  background: rgb(2, 2, 5);
  background: linear-gradient(
    90deg,
    rgba(2, 2, 5, 1) 0%,
    rgba(38, 7, 11, 1) 19%
  );
  display: flex;
  align-items: center;
  padding: 1rem;
}
.header-text {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.header-name {
  font-size: 3em;
  font-family: myFont;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff33, 0 0 10px rgba(255, 255, 255, 0.288),
    0 0 15px rgba(255, 255, 255, 0.171), 0 0 20px #151814, 0 0 30px #2f382d,
    0 0 40px #253022, 0 0 55px #519c3c, 0 0 75px #52684c;
  cursor: pointer;
}

.header-text p {
  font-size: 1.5em;
  color: white;
}
.death {
  height: 100%;
  display: flex;
  width: 10rem;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
}
.score {
  color: rgb(20, 20, 20);
  border: 2px solid red;
  background: #333333;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.score h1,
span {
  font-size: 1.9em;
  color: #ffffff;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
.score span {
  font-size: 1.6em;
  bottom: 0.2rem;
  bottom: 0.2rem;
}
.score:hover {
  width: 8.2rem;
  height: 3.5rem;
  background-color: rgb(133, 133, 133);
}
/***************************year*******************/

/**********************list year *********************/

/********************final list **********************/
.final-list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
  bottom: 7rem;
  right: 4rem;
}
.content {
  display: flex;
  width: 70%;
}
.score .zero .txutmet {
  font-size: 1.7rem;
}

@media only screen and (max-width: 700px) {
  body header {
    width: 120%;
    height: 10rem;
  }
}

@media only screen and (max-width: 578px) {
  body header {
    width: 140%;
    height: 10rem;
  }
}

@media only screen and (max-width: 492px) {
  body header {
    width: 205%;
    height: 10rem;
  }

  .content {
    display: flex;
    width: 70%;
    margin-right: 4rem;
  }
}
